InterfaceNotes/WebContent/wsdl/Notes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://zaman.onenote" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://zaman.onenote" xmlns:intf="http://zaman.onenote" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://zaman.onenote" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createANote">
    <complexType>
     <sequence>
      <element name="pageTitle" type="xsd:string"/>
      <element name="txt" type="xsd:string"/>
      <element name="sectionName" type="xsd:string"/>
      <element name="user_id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="createANoteResponse">
    <complexType>
     <sequence>
      <element name="createANoteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchNote">
    <complexType>
     <sequence>
      <element name="user_id" type="xsd:int"/>
      <element name="noteName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchNoteResponse">
    <complexType>
     <sequence>
      <element name="searchNoteReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchNoteResponse">

      <wsdl:part element="impl:searchNoteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchNoteRequest">

      <wsdl:part element="impl:searchNote" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createANoteRequest">

      <wsdl:part element="impl:createANote" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createANoteResponse">

      <wsdl:part element="impl:createANoteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Notes">

      <wsdl:operation name="createANote">

         <wsdl:input message="impl:createANoteRequest" name="createANoteRequest">

       </wsdl:input>

         <wsdl:output message="impl:createANoteResponse" name="createANoteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchNote">

         <wsdl:input message="impl:searchNoteRequest" name="searchNoteRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchNoteResponse" name="searchNoteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NotesSoapBinding" type="impl:Notes">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createANote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createANoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createANoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchNote">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchNoteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchNoteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NotesService">

      <wsdl:port binding="impl:NotesSoapBinding" name="Notes">

         <wsdlsoap:address location="http://localhost:8080/OneNote-web/services/Notes"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
